{% extends 'layout.html' %}
{% block content %}
<div>
    <div class="navbar">
    <a href="/logout">Logout</a>
    </div>
    <h1 class="username">{{user.username}}</h1>
    <h2>Subscriptions</h2>
    {% for sub in user.subs %}
    
    <span> Title: {{sub.title}} </span>
    <span> Year: {{sub.year}} </span>
    <span> Artist: {{sub.artist}} </span>
    <img src="{{sub.img}}"/>
    <form action="/unsub" method="POST">
    <input type="hidden" name="email" value="{{user.email}}"/>
    <input type="hidden" name="title" value="{{sub.title}}"/>
    <input type="submit" value="Remove"></input> 
    </form>
    <br/>
    
    {% endfor %}
    <h2>Search</h2>
    <form method="POST">
        <label>Title: <input type="text" name="title"/></label>
        <label>Artist: <input type="text" name="artist"/></label>
        <label>Year: <input type="text" name="year"/></label>
        <input type="submit" value="Search"/>
    </form>

    {% if results == "EMPTY" %}
    <p> No result is retrieved. Please query again </p>
    {% endif %}
    {% if results == "FOUND" %}
    {% for song in items %}
    <span> Title: {{song.title}} </span>
    <span> Year: {{song.year}} </span>
    <span> Artist: {{song.artist}} </span>
    <img src="{{song.img_url}}"/>
    <form action="/sub" method="POST">
    <input type="hidden" name="email" value="{{user.email}}"/>
    <input type="hidden" name="title" value="{{song.title}}"/>
    <input type="submit" value="Subscribe"></input> 
    </form>
    <br/>
    {% endfor %}
    {% endif %}

</div>

{% endblock %}