{% extends 'layout.html' %}
{% block content %}
<div>
    <div class="container">
        <a href="/login">Login</a>
        <h1>Register</h1>
        <form method="post">
            <input type ="text" name="email" placeholder="Email" value="{{request.form.email}}"/>
            <input type="text" name="username" placeholder="Username" value="{{request.form.username}}"/>
            <input type="password" name="password" placeholder="Password" value="{{request.form.password}}"/>
            <input type="submit" value="Submit"/>
        </form>
        {% if error %}
        <span class="error"> {{error}} </span>
        {% endif %}
    </div>
</div>
{% endblock %}